@charset "utf-8";
/* CSS Document */


.project_section{
	height:30px;
	width:auto;
	background:white;
	font-family:'Source Sans Pro', sans-serif;
	margin-left:100px;
	margin-bottom:0px;
	font-size:18px;
	border:1px solid #CCC;
	outline:0;
	}
.menu{	
	
	display:inline-block;

	 }
	 
nav{

	padding:0px;
		margin-left:200px;

	}

nav ul ul{
	display:none;
	}	
	
nav ul li:hover >ul{
	display:block;
	}
nav ul{
	background:white;
	border:none;
	list-style:none;
	position:relative;
	display:inline-table;	
	padding:0px;
	}


nav ul ll{
	margin-right:5x;
	}

nav ul li a{
	color:black;
	display:block;
	padding-right:5px;
	text-decoration:none;
	font-family:'Source Sans Pro', sans-serif;
	font-weight:300;
	}

nav ul li a:hover{
	display:block;
	text-decoration:none;
	border-right:2px solid #61C3CC;

	}
